<nav class="navbar navbar-fixed-top">
    <p class="navbar-item is-text-centered">
        <a class="noline button is-dark is-outlined" href="#">edit</a>
    </p>
    <p class="navbar-item is-text-centered">
        <img src="static/images/phedit.gif" alt="" style="height: 80px;">
    </p>
    <p class="navbar-item is-text-centered">
        <a class="noline button is-dark is-outlined" href="#">gallery</a>
    </p>
</nav>

<section class="canvas hero is-info is-large">
    <div class="hero-content">
        <div class="container">
            <p>click to upload image</p>
        </div>
    </div>
</section>
