html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #4F87EC 0, #087950 100%);
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    padding:0;
    margin:0;
    color: #fff;
}

.navbar-left > a > img {
    height: 75px;
    width: 100px;
    margin-top: 5px;
}

.noline:hover {
    text-decoration: none;
}

.noline:link {
    text-decoration: none;
}

.noline {
    margin-top: 25px;
}
