.app-background {
    background: url(../images/bgpattern.png) repeat center center fixed;
}

.btn-signin {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}
