{% extends "index.html" %}

{% block content %}
<nav class="navbar">
    Some Logo
</nav>
<div class="people-search">
  <div class="people-filters">
    <div class="stem-filter">
      <p>STEM Interests filter</p>
      <ul>
        <li><input type="checkbox">one</li>
        <li><input type="checkbox">two</li>
        <li><input type="checkbox">three</li>
        <li><input type="checkbox">four</li>
      </ul>
    </div>
    <div class="role-filter">
      <p>Role filter</p>
      <ul>
        <li><input type="radio">one</li>
        <li><input type="radio">two</li>
        <li><input type="radio">three</li>
        <li><input type="radio">four</li>
      </ul>
    </div>
    <div class="group-filter">
      <p>Group filter</p>
      <ul>
        <li><input type="checkbox">one</li>
        <li><input type="checkbox">two</li>
        <li><input type="checkbox">three</li>
        <li><input type="checkbox">four</li>
      </ul>
    </div>
    <div class="age-filter">
      <p>Age filter</p>
      <ul>
        <li><input type="radio">one</li>
        <li><input type="radio">two</li>
        <li><input type="radio">three</li>
      </ul>
    </div>
    <div class="looking-filter">
      <p>Looking for team filter</p>
      <ul>
        <li><input type="checkbox">one</li>
        <li><input type="checkbox">two</li>
      </ul>
    </div>
  </div>
  <div class="people-results">
    <div class="result-container">
      <div class="result-card">
        <div class="result-user-image">
          <img src="http://via.placeholder.com/150x150" alt="user-image">
        </div>
        <div class="result-info">
          <div class="result-user-name">
            <h6><a href="/profile/uuid">item.display_name</a></h6>
          </div>
          <div class="result-user-looking">
            <h6>item.looking_for_team</h6>
          </div>
          <div class="result-user-group-location">
            <h6>item.user_group</h6>
            <h6>item.state_or_province, item.country_name</h6>
          </div>
        </div>
        <div class="result-user-interests">
          <ul>
            <li>item.stem_interest_one</li>
            <li>item.stem_interest_two</li>
          </ul>
        </div>
      </div>
      <div class="result-card">
        <div class="result-user-image">
          <img src="http://via.placeholder.com/150x150" alt="user-image">
        </div>
        <div class="result-info">
          <div class="result-user-name">
            <h6><a href="/profile/uuid">item.display_name</a></h6>
          </div>
          <div class="result-user-looking">
            <h6>item.looking_for_team</h6>
          </div>
          <div class="result-user-group-location">
            <h6>item.user_group</h6>
            <h6>item.state_or_province, item.country_name</h6>
          </div>
        </div>
        <div class="result-user-interests">
          <ul>
            <li>item.stem_interest_one</li>
            <li>item.stem_interest_two</li>
          </ul>
        </div>
      </div>
      <div class="result-card">
        <div class="result-user-image">
          <img src="http://via.placeholder.com/150x150" alt="user-image">
        </div>
        <div class="result-info">
          <div class="result-user-name">
            <h6><a href="/profile/uuid">item.display_name</a></h6>
          </div>
          <div class="result-user-looking">
            <h6>item.looking_for_team</h6>
          </div>
          <div class="result-user-group-location">
            <h6>item.user_group</h6>
            <h6>item.state_or_province, item.country_name</h6>
          </div>
        </div>
        <div class="result-user-interests">
          <ul>
            <li>item.stem_interest_one</li>
            <li>item.stem_interest_two</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="load-more">
      <p>Load More</p>
    </div>
  </div>
</div>

{% endblock content %}
