{% extends "index.html" %}

{% load staticfiles %}

{% block content %}
<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header col-xs-6 col-md-6">
            <a href="#"><img src="{% static 'images/phedit.gif' %}" alt="logo" class="brand-logo"/></a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="profile" class="pull-right">
                {% if user.is_authenticated and user.socialaccount_set.all.0.get_avatar_url %}
                    <img class="img-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                {% else %}
                    <img class="img-circle" src="{% static 'images/profile.png' %}" />
                {% endif %}
            </a>
        </div>
    </div>
</div>
<div id="content" class="container" ng-controller="MyCtrl">
    <div class="row effects-section">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="effectsModel.normal" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">normal</label>
            <label class="btn btn-primary" ng-model="effectsModel.hefe" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">hefe</label>
            <label class="btn btn-primary" ng-model="effectsModel.inkwell" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">inkwell</label>
            <label class="btn btn-primary" ng-model="effectsModel.willow" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">willow</label>
            <label class="btn btn-primary" ng-model="effectsModel.sierra" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">sierra</label>
            <label class="btn btn-primary" ng-model="effectsModel.amaro" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">amaro</label>
            <label class="btn btn-primary" ng-model="effectsModel.hudson" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">hudson</label>
            <label class="btn btn-primary" ng-model="effectsModel.rise" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">rise</label>
            <label class="btn btn-primary" ng-model="effectsModel.mayfair" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">mayfair</label>
            <label class="btn btn-primary" ng-model="effectsModel.lark" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">lark</label>
            <label class="btn btn-primary" ng-model="effectsModel.juno" uib-btn-checkbox btn-checkbox-false ng-class="{ 'disabled': imageuploaded}">juno</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-default" ng-class="images.length ? 'workspace' : 'fixed-workspace'">
                <div class="panel-body">
                    {% verbatim %}
                    <div id="button-wrapper" ng-hide="images.length">
                        <button ngf-select="upload($file)">
                            <p>click to upload an image</p>
                            <div class="fill"></div>
                            <div class="fa fa-check"></div>
                        </button>
                    </div>
                    {% endverbatim %}
                    <div class="drop-placeholder" ng-repeat="image in images | orderBy: '-created_at'">
                        <form  name="form">
                            <div ngf-pattern="'image/*'" ngf-drop="upload($file)" ngf-min-height="100" ngf-multiple="false">
                                {% verbatim %}
                                <div class="user-images">
                                    <div class="image" ng-if="$first">
                                        <div ng-if="image.image">
                                            <input type="checkbox" ng-model="imageuploaded" class="hidden">
                                            <img ng-src="{{image.image}}"/>
                                            <div class="image-options">
                                                <button type="button" class="btn btn-primary">apply</button>
                                                <button type="button" class="btn btn-primary">save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endverbatim %}
                            </div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default featured-content">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
