{% extends "index.html" %}

{% block content %}
<header role="banner" class="navbar-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="navbar-brand">PHEDIT</a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="workspace panel panel-default">
                <div class="panel-body">
                    <p class="dz-default dz-message">drop image file here or click to upload</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
