{% extends "index.html" %}

{% load staticfiles %}

{% block content %}
<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header col-xs-6 col-md-6">
            <a href="#"><img src="{% static 'images/phedit.gif' %}" alt="logo" class="brand-logo"/></a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="profile" class="pull-right">
                {% if user.is_authenticated and user.socialaccount_set.all.0.get_avatar_url %}
                    <img class="img-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                {% else %}
                    <img class="img-circle" src="{% static 'images/profile.png' %}" />
                {% endif %}
            </a>
        </div>
    </div>
</div>
<div id="content" class="container" ng-controller="MyCtrl">
    <div class="row effects-section">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="effectsModel.BLUR" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">blur</label>
            <label class="btn btn-primary" ng-model="effectsModel.CONTOUR" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">contour</label>
            <label class="btn btn-primary" ng-model="effectsModel.EMBOSS" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">emboss</label>
            <label class="btn btn-primary" ng-model="effectsModel.FLIP" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">flip</label>
            <label class="btn btn-primary" ng-model="effectsModel.MIRROR" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">mirror</label>
            <label class="btn btn-primary" ng-model="effectsModel.GREYSCALE" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">greyscale</label>
            <label class="btn btn-primary" ng-model="effectsModel.INVERT" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">invert</label>
            <label class="btn btn-primary" ng-model="effectsModel.SOLARIZE" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">solarize</label>
            <label class="btn btn-primary" ng-model="effectsModel.SMOOTH" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">smooth</label>
            <label class="btn btn-primary" ng-model="effectsModel.HULK" uib-btn-checkbox btn-checkbox-false ng-disabled="!(imageuploaded)">hulk</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-default" ng-class="images.length ? 'workspace' : 'fixed-workspace'">
                <div class="panel-body">
                    {% verbatim %}
                    <div id="button-wrapper" ng-hide="images.length">
                        <button ngf-select="upload($file)">
                            <p>click to upload an image</p>
                            <div class="fill"></div>
                            <div class="fa fa-check"></div>
                        </button>
                    </div>
                    {% endverbatim %}
                    <div class="drop-placeholder" ng-repeat="image in images | orderBy: '-created_at'">
                        <form  name="form">
                            <div ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-drop="upload($file)" ngf-min-height="100" ngf-multiple="false">
                                {% verbatim %}
                                <div class="user-images">
                                    <div class="image" ng-if="$first">
                                        <div ng-if="image.image">
                                            <img ng-src="{{imageurl}}"/>
                                            <!-- <div class="image-options">
                                                <button type="button" class="btn btn-primary">apply</button>
                                                <button type="button" class="btn btn-primary">save</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                {% endverbatim %}
                            </div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default featured-content">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
