{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="pheditApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <title>PHEDIT</title>
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    </head>
    <body ng-controllrt="mainCtrl">
        <div ng-view></div>
        <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/angular-route.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/controller.js' %}"></script>
    </body>
</html>
